TUPLES

In [2]:
t1 = ()
print(type(t1))

t2 = ("tuple",)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [3]:
t3 = (12, 23, 45)
print(t3, type(t3), sep="\n")

t3 = (12, "Emmanuel", True)
print(t3, type(t3), sep="\n")

# Most list operations can be carried out on tuples other than operations that result in mutation
# The only exception are multiplation and addition

(12, 23, 45)
<class 'tuple'>
(12, 'Emmanuel', True)
<class 'tuple'>

In [4]:
# TUPLE UNPACKING

tup = ("Emmanuel", 35, "Warri", 4, "Single")
name, age, location, siblings, marital_status = tup
print(f"Name: {name} \nAge: {age} \nLocation: {location} \nNumber of Siblings: {siblings} \nMarital Status: {marital_status}")

name, age, *others = tup
print(others)

Name: Emmanuel
Age: 35
Location: Warri
Number of Siblings: 4
Marital Status: Single
['Warri', 4, 'Single']

SETS

In [30]:
s1 = {'AAPL', 'GOOGL', 'TSLA'}
print(type(s1), s1, sep=": ")

# Sets can only contain literals and tuples. Hence, s2 cannot work
# s2 = {'AAPL', 'GOOGL', 'TSLA', {'MSFT', 'META'}}

s3 = {'AAPL', 'GOOGL', 'TSLA', ('MSFT', 'META')}
print(s3)

# Tuples are mutable
s3.add("AMZN")
print(s3)

# Update adds multiple elements into a set
s1.update(s3)
s1.update(["BTC", "ETH"])
print(s1)

<class 'set'>: {'AAPL', 'GOOGL', 'TSLA'}
{'AAPL', ('MSFT', 'META'), 'GOOGL', 'TSLA'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'AAPL', 'AMZN'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'AAPL', 'ETH', 'AMZN', 'BTC'}

In [34]:
# Removing elements from a set
s1.remove("AAPL") # Does not throw any error if the item is not there
print(s1)

s1.discard("AAPL") # Does not throw any error if the item is not there
print(s1)

{'GOOGL', 'TSLA', ('MSFT', 'META'), 'ETH', 'AMZN', 'BTC'}

KeyError: 'AAPL'