PRINT FUNCTION FUNDAMENTALS

In [2]:
# Print argument can take many different data types, with seperator
# The default separator is a space
print("String", 1, 1.3, [1, 2, 3], {"name": "Emmanuel"})

String 1 1.3 [1, 2, 3] {'name': 'Emmanuel'}

In [3]:
# Separator can be defined using a delimiter
print("String", 1, 1.3, [1, 2, 3], {"name": "Emmanuel"}, sep=", ")

String, 1, 1.3, [1, 2, 3], {'name': 'Emmanuel'}

In [4]:
# The end of a print function can also be defined by specifying then "end" argument
# The default "end" argument is "\n", which is a new line
print("My name is Emmanuel")
print("I am from Delta state")
print("I am based in Warri")

My name is Emmanuel
I am from Delta state
I am based in Warri

In [5]:
# The end of a print function can also be defined by specifying then "end" argument
print("My name is Emmanuel", end=", ")
print("I am from Delta state", end=", ")
print("I am based in Warri")

My name is Emmanuel, I am from Delta state, I am based in Warri

DATA TYPES FUNDAMENTALS

In [15]:
# The data type of a variable or a literal in python can be extracted using the "type" function
# Int
print(type(1), 1, sep=":")

# Floats
print(type(1.2), 1.2, sep=":")

# Booleans
print(type(True), True, sep=":")

# Strings
print(type("Emmanuel"), "Emmanuel", sep=":")

# Complex Numbers
print(type(2+3j), 2.3j, sep=":")
compNum = 2+3j
print("Real", compNum.real,sep=": ")
print("Imaginary", compNum.imag,sep=": ")

# Lists
print(type([1, 2, 3]), [1, 2, 3], sep=": ")

# Tuples
print(type((1, 2)), (1, 2), sep=": ")

# Set
print(type({1, 2}), {1, 2}, sep=": ")

# Dict
print(type({"key": 2}), {"key": 2}, sep=": ")
dict = {"key": 2}
print("keys", dict.keys(), sep= ": ")
print("values", dict.values(), sep= ": ")

<class 'int'>:1
<class 'float'>:1.2
<class 'bool'>:True
<class 'str'>:Emmanuel
<class 'complex'>:2.3j
Real: 2.0
Imaginary: 3.0
<class 'list'>: [1, 2, 3]
<class 'tuple'>: (1, 2)
<class 'set'>: {1, 2}
<class 'dict'>: {'key': 2}
keys: dict_keys(['key'])
values: dict_values([2])

PYTHON VARIABLES

In [19]:
a, b = 1, 2
print(a, b, sep=", ")
print(a)
print(b)

a = b = c = 1
print(a, b, c, sep=", ")

1, 2
1
2
1, 1, 1

PYTHON KEYWORDS AND IDENTIFIERS

In [ ]:
# Identifiers are names given to classes, functions, variables, etc

USER INPUT

In [29]:
oil_price = float(input("What is current crude oil price: "))
volume_produced = float(input("What is the volume produced?: "))
revenue = oil_price * volume_produced
print(f"Given that volume produced is {volume_produced:.2f} stb, and oil price is ${oil_price:.2f}/stb, revenue generated is ${revenue:.2f}")

What is current crude oil price:  100
What is the volume produced?:  20000

Given that volume produced is 20000.00stb, and oil price is $100.00/stb, revenue generated is $2000000.00

PYTHON LITERALS

In [33]:
# Binary
a = 0b1001

# Decimals
b = 301

# Octals
c = 0o321

# Hexadecimals
d = 0x21b
print(a, b, c, d)

# unicodes
uni = u"\U0001F923\U0001f600"
print(uni)

9 301 209 539
ðŸ¤£ðŸ˜€