In [1]:
strategy_name = "Momentum Strategy"
print(strategy_name[::-1])

ygetartS mutnemoM

ARITHMETIC OPERATIONS

In [7]:
first_name = "Emmanuel"
last_name = "Osademe"

full_name = f"{first_name} {last_name}"

print(f"My name is {full_name}")
full_name = full_name * 2

print(f"My name is {full_name}")

My name is Emmanuel Osademe
My name is Emmanuel OsademeEmmanuel Osademe

RELATIONAL OPERATIONS

In [19]:
s1 = "Singapore"
s2 = "India"

print(s1 < s2) # S comes after I 

print(s1 > s2) # S comes after I

False
True

LOGICAL OPERATIONS

In [21]:
print(s1 and s2) # Always prints the last member as long as s1 exists

print(s1 or s2) # Prints the first non-empty string

India
Singapore

STRING FUNCTIONS

In [31]:
print(s1.capitalize())
print(s1.swapcase())
print(s1.lower())
print(s1.upper())
print(full_name.title())
print(sorted(s1))

Singapore
sINGAPORE
singapore
SINGAPORE
Emmanuel Osademeemmanuel Osademe
['S', 'a', 'e', 'g', 'i', 'n', 'o', 'p', 'r']