TUPLES

In [2]:
t1 = ()
print(type(t1))

t2 = ("tuple",)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [3]:
t3 = (12, 23, 45)
print(t3, type(t3), sep="\n")

t3 = (12, "Emmanuel", True)
print(t3, type(t3), sep="\n")

# Most list operations can be carried out on tuples other than operations that result in mutation
# The only exception are multiplation and addition

(12, 23, 45)
<class 'tuple'>
(12, 'Emmanuel', True)
<class 'tuple'>

In [4]:
# TUPLE UNPACKING

tup = ("Emmanuel", 35, "Warri", 4, "Single")
name, age, location, siblings, marital_status = tup
print(f"Name: {name} \nAge: {age} \nLocation: {location} \nNumber of Siblings: {siblings} \nMarital Status: {marital_status}")

name, age, *others = tup
print(others)

Name: Emmanuel
Age: 35
Location: Warri
Number of Siblings: 4
Marital Status: Single
['Warri', 4, 'Single']

SETS

In [38]:
s1 = {'AAPL', 'GOOGL', 'TSLA'}
print(type(s1), s1, sep=": ")

# Sets can only contain literals and tuples. Hence, s2 cannot work
# s2 = {'AAPL', 'GOOGL', 'TSLA', {'MSFT', 'META'}}

s3 = {'AAPL', 'GOOGL', 'TSLA', ('MSFT', 'META')}
print(s3)

# Tuples are mutable
s3.add("AMZN")
print(s3)

# Update adds multiple elements into a set
s1.update(s3)
s1.update(["BTC", "ETH"])
print(s1)

<class 'set'>: {'AAPL', 'GOOGL', 'TSLA'}
{'AAPL', ('MSFT', 'META'), 'GOOGL', 'TSLA'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'AAPL', 'AMZN'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'AAPL', 'ETH', 'AMZN', 'BTC'}

In [40]:
# Removing elements from a set
print(s1)
s1.remove("AAPL") # Throws an exception if element is not in set
print(s1)

s1.discard("AAPL") # Does not throw any error if the item is not there
print(s1)

{'GOOGL', 'TSLA', ('MSFT', 'META'), 'AAPL', 'ETH', 'AMZN', 'BTC'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'ETH', 'AMZN', 'BTC'}
{'GOOGL', 'TSLA', ('MSFT', 'META'), 'ETH', 'AMZN', 'BTC'}

SET OPERATIONS

In [52]:
s1 = {'AAPL', 'GOOGL', 'TSLA'}
s2 = {'AAPL', 'GOOGL', 'TSLA', 'MSFT', 'META'}

# Union
s3 = s1 | s2
print(s3)

# Intersection
s4 = s1 & s2
print(s4)

# Difference
print(s1 - s2)
print(s2 - s1)

# Symmetric difference
print(s1 ^ s2)

# Membership
print("TSLA" in s1)
print("TSLA" not in s1)

# Loops
for item in s1:
    print(item)

{'MSFT', 'GOOGL', 'TSLA', 'META', 'AAPL'}
{'AAPL', 'GOOGL', 'TSLA'}
set()
{'META', 'MSFT'}
{'MSFT', 'META'}
True
False
AAPL
GOOGL
TSLA

SET FUNCTIONS

In [70]:
# len, sum, min, max, sorted are all valid as in list
s1 = {'AAPL', 'GOOGL', 'TSLA'}
s2 = {'AAPL', 'GOOGL', 'TSLA', 'MSFT', 'META'}

#s1.update(s2) # update mutates inplace and does not return any result. It is destructive
print(s1)

# Union
s3 = s1.union(s2) # update mutates
print(s3)

# Intersection (intersection_update is the equivalent of union. It mututes in place, returns no value
s4 = s1.intersection(s2) 
print(s4)

# Difference (difference_update is similar to the updates)
print(s1.difference(s2))
print(s2.difference(s1))

# Symmetric difference (symmetric_difference update exists too)
print(s1.symmetric_difference(s2))

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

s5 = s1.copy() # Same values, different memory location
print(s5)

{'AAPL', 'GOOGL', 'TSLA'}
{'MSFT', 'GOOGL', 'TSLA', 'META', 'AAPL'}
{'AAPL', 'GOOGL', 'TSLA'}
set()
{'META', 'MSFT'}
{'MSFT', 'META'}
False
True
False
{'AAPL', 'GOOGL', 'TSLA'}

In [ ]:
# FROZEN SETS  are immutable set. No write operation is allowed

SET COMPREHENSION

In [72]:
s1 = {i ** 2 for i in range(1, 11) if i % 2 == 0}
print(s1)

{64, 100, 4, 36, 16}

DICTIONARY

In [84]:
stock_prices = {'AAPL': 145., 'GOGL': 2733.23, 'TSLA': 673.58, 'MSFT': 77.3}
print(stock_prices)

for item in stock_prices.items():
    print(item)

for key, val in stock_prices.items():
    print(key, val, sep=": ")

for key in stock_prices.keys():
    print(key)

for val in stock_prices.values():
    print(val)
print(stock_prices.get("TSLA"))

stock_prices.pop('GOGL')
print(stock_prices)

stock_prices.popitem()
print(stock_prices)

{'AAPL': 145.0, 'GOGL': 2733.23, 'TSLA': 673.58, 'MSFT': 77.3}
('AAPL', 145.0)
('GOGL', 2733.23)
('TSLA', 673.58)
('MSFT', 77.3)
AAPL: 145.0
GOGL: 2733.23
TSLA: 673.58
MSFT: 77.3
AAPL
GOGL
TSLA
MSFT
145.0
2733.23
673.58
77.3
673.58
{'AAPL': 145.0, 'TSLA': 673.58, 'MSFT': 77.3}
{'AAPL': 145.0, 'TSLA': 673.58}

In [ ]:
# functions sorted, len

In [88]:
dict = {i: i**2 for i in range(1, 11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}