In [1]:
import pandas as pd
import numpy as np

In [2]:
# Number of rows
# num_rows = 1000000

# # Create sample data with 1,000,000 rows
# data = {
#     'Timestamp': pd.date_range(start='2022-01-01', periods=num_rows, freq='S'),
#     'Ticker': (['AAPL', 'GOOGL', 'MSFT', 'BTC', 'ETH', 'XRP'] * ((num_rows // 6) + 1))[:num_rows],
#     'Price': ([150, 2500, 300, 155, 2550, 310] * ((num_rows // 6) + 1))[:num_rows],
#     'Volume': ([100, 200, 150, 110, 210, 160] * ((num_rows // 6) + 1))[:num_rows],
#     'Buy/Sell': (['Buy', 'Sell', 'Buy', 'Sell', 'Buy', 'Sell'] * ((num_rows // 6) + 1))[:num_rows],
#     'Trader_ID': (['T1', 'T2', 'T3', 'T4', 'T5', 'T6'] * ((num_rows // 6) + 1))[:num_rows],
#     'Exchange': (['NYSE', 'NASDAQ', 'NYSE', 'Binance', 'Bybit', 'Coinbase'] * ((num_rows // 6) + 1))[:num_rows]
# }

# # Convert the dictionary into a DataFrame
# df = pd.DataFrame(data)
# df.to_csv("files/Exchange_Trade_Data.csv")
exchange_df = pd.read_csv("files/Exchange_Trade_Data.csv")
exchange_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1000000 non-null  int64
 1   Timestamp   1000000 non-null  object
 2   Ticker      1000000 non-null  object
 3   Price       1000000 non-null  int64
 4   Volume      1000000 non-null  int64
 5   Buy/Sell    1000000 non-null  object
 6   Trader_ID   1000000 non-null  object
 7   Exchange    1000000 non-null  object
dtypes: int64(3), object(5)
memory usage: 61.0+ MB

In [3]:
print(exchange_df.head())

   Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell Trader_ID  \
0           0  2022-01-01 00:00:00   AAPL    150     100      Buy        T1
1           1  2022-01-01 00:00:01  GOOGL   2500     200     Sell        T2
2           2  2022-01-01 00:00:02   MSFT    300     150      Buy        T3
3           3  2022-01-01 00:00:03    BTC    155     110     Sell        T4
4           4  2022-01-01 00:00:04    ETH   2550     210      Buy        T5

  Exchange
0     NYSE
1   NASDAQ
2     NYSE
3  Binance
4    Bybit

In [4]:
print(exchange_df.sample(30))

        Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell  \
665770      665770  2022-01-08 16:56:10    ETH   2550     210      Buy
416441      416441  2022-01-05 19:40:41    XRP    310     160     Sell
543211      543211  2022-01-07 06:53:31  GOOGL   2500     200     Sell
905319      905319  2022-01-11 11:28:39    BTC    155     110     Sell
38424        38424  2022-01-01 10:40:24   AAPL    150     100      Buy
844156      844156  2022-01-10 18:29:16    ETH   2550     210      Buy
107221      107221  2022-01-02 05:47:01  GOOGL   2500     200     Sell
499130      499130  2022-01-06 18:38:50   MSFT    300     150      Buy
471354      471354  2022-01-06 10:55:54   AAPL    150     100      Buy
89501        89501  2022-01-02 00:51:41    XRP    310     160     Sell
201802      201802  2022-01-03 08:03:22    ETH   2550     210      Buy
324194      324194  2022-01-04 18:03:14   MSFT    300     150      Buy
472900      472900  2022-01-06 11:21:40    ETH   2550     210      Buy
346976      346976  2022-01-05 00:22:56   MSFT    300     150      Buy
352650      352650  2022-01-05 01:57:30   AAPL    150     100      Buy
916797      916797  2022-01-11 14:39:57    BTC    155     110     Sell
946274      946274  2022-01-11 22:51:14   MSFT    300     150      Buy
618672      618672  2022-01-08 03:51:12   AAPL    150     100      Buy
545119      545119  2022-01-07 07:25:19  GOOGL   2500     200     Sell
724028      724028  2022-01-09 09:07:08   MSFT    300     150      Buy
876024      876024  2022-01-11 03:20:24   AAPL    150     100      Buy
421870      421870  2022-01-05 21:11:10    ETH   2550     210      Buy
703105      703105  2022-01-09 03:18:25  GOOGL   2500     200     Sell
408411      408411  2022-01-05 17:26:51    BTC    155     110     Sell
192357      192357  2022-01-03 05:25:57    BTC    155     110     Sell
829331      829331  2022-01-10 14:22:11    XRP    310     160     Sell
334721      334721  2022-01-04 20:58:41    XRP    310     160     Sell
194761      194761  2022-01-03 06:06:01  GOOGL   2500     200     Sell
887441      887441  2022-01-11 06:30:41    XRP    310     160     Sell
140364      140364  2022-01-02 14:59:24   AAPL    150     100      Buy

       Trader_ID  Exchange
665770        T5     Bybit
416441        T6  Coinbase
543211        T2    NASDAQ
905319        T4   Binance
38424         T1      NYSE
844156        T5     Bybit
107221        T2    NASDAQ
499130        T3      NYSE
471354        T1      NYSE
89501         T6  Coinbase
201802        T5     Bybit
324194        T3      NYSE
472900        T5     Bybit
346976        T3      NYSE
352650        T1      NYSE
916797        T4   Binance
946274        T3      NYSE
618672        T1      NYSE
545119        T2    NASDAQ
724028        T3      NYSE
876024        T1      NYSE
421870        T5     Bybit
703105        T2    NASDAQ
408411        T4   Binance
192357        T4   Binance
829331        T6  Coinbase
334721        T6  Coinbase
194761        T2    NASDAQ
887441        T6  Coinbase
140364        T1      NYSE

In [5]:
# Groupby - sum

# print(exchange_df.groupby("Ticker").sum())

In [6]:
print(exchange_df.groupby("Ticker")['Volume'].sum())

Ticker
AAPL     16666700
BTC      18333370
ETH      34999860
GOOGL    33333400
MSFT     25000050
XRP      26666560
Name: Volume, dtype: int64

In [7]:
print(exchange_df.groupby("Ticker").size())
print(exchange_df.groupby("Ticker").count())

Ticker
AAPL     166667
BTC      166667
ETH      166666
GOOGL    166667
MSFT     166667
XRP      166666
dtype: int64
        Unnamed: 0  Timestamp   Price  Volume  Buy/Sell  Trader_ID  Exchange
Ticker
AAPL        166667     166667  166667  166667    166667     166667    166667
BTC         166667     166667  166667  166667    166667     166667    166667
ETH         166666     166666  166666  166666    166666     166666    166666
GOOGL       166667     166667  166667  166667    166667     166667    166667
MSFT        166667     166667  166667  166667    166667     166667    166667
XRP         166666     166666  166666  166666    166666     166666    166666

In [8]:
tickers = exchange_df.groupby("Ticker")
print(len(tickers))

6

In [9]:
print(tickers.first())

        Unnamed: 0            Timestamp  Price  Volume Buy/Sell Trader_ID  \
Ticker
AAPL             0  2022-01-01 00:00:00    150     100      Buy        T1
BTC              3  2022-01-01 00:00:03    155     110     Sell        T4
ETH              4  2022-01-01 00:00:04   2550     210      Buy        T5
GOOGL            1  2022-01-01 00:00:01   2500     200     Sell        T2
MSFT             2  2022-01-01 00:00:02    300     150      Buy        T3
XRP              5  2022-01-01 00:00:05    310     160     Sell        T6

        Exchange
Ticker
AAPL        NYSE
BTC      Binance
ETH        Bybit
GOOGL     NASDAQ
MSFT        NYSE
XRP     Coinbase

In [10]:
print(tickers.last())

        Unnamed: 0            Timestamp  Price  Volume Buy/Sell Trader_ID  \
Ticker
AAPL        999996  2022-01-12 13:46:36    150     100      Buy        T1
BTC         999999  2022-01-12 13:46:39    155     110     Sell        T4
ETH         999994  2022-01-12 13:46:34   2550     210      Buy        T5
GOOGL       999997  2022-01-12 13:46:37   2500     200     Sell        T2
MSFT        999998  2022-01-12 13:46:38    300     150      Buy        T3
XRP         999995  2022-01-12 13:46:35    310     160     Sell        T6

        Exchange
Ticker
AAPL        NYSE
BTC      Binance
ETH        Bybit
GOOGL     NASDAQ
MSFT        NYSE
XRP     Coinbase

In [11]:
print(tickers.nth(4))

    Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell Trader_ID  \
24          24  2022-01-01 00:00:24   AAPL    150     100      Buy        T1
25          25  2022-01-01 00:00:25  GOOGL   2500     200     Sell        T2
26          26  2022-01-01 00:00:26   MSFT    300     150      Buy        T3
27          27  2022-01-01 00:00:27    BTC    155     110     Sell        T4
28          28  2022-01-01 00:00:28    ETH   2550     210      Buy        T5
29          29  2022-01-01 00:00:29    XRP    310     160     Sell        T6

    Exchange
24      NYSE
25    NASDAQ
26      NYSE
27   Binance
28     Bybit
29  Coinbase

In [12]:
print(tickers.get_group("BTC"))

        Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell  \
3                3  2022-01-01 00:00:03    BTC    155     110     Sell
9                9  2022-01-01 00:00:09    BTC    155     110     Sell
15              15  2022-01-01 00:00:15    BTC    155     110     Sell
21              21  2022-01-01 00:00:21    BTC    155     110     Sell
27              27  2022-01-01 00:00:27    BTC    155     110     Sell
...            ...                  ...    ...    ...     ...      ...
999975      999975  2022-01-12 13:46:15    BTC    155     110     Sell
999981      999981  2022-01-12 13:46:21    BTC    155     110     Sell
999987      999987  2022-01-12 13:46:27    BTC    155     110     Sell
999993      999993  2022-01-12 13:46:33    BTC    155     110     Sell
999999      999999  2022-01-12 13:46:39    BTC    155     110     Sell

       Trader_ID Exchange
3             T4  Binance
9             T4  Binance
15            T4  Binance
21            T4  Binance
27            T4  Binance
...          ...      ...
999975        T4  Binance
999981        T4  Binance
999987        T4  Binance
999993        T4  Binance
999999        T4  Binance

[166667 rows x 8 columns]

In [13]:
print(tickers.groups)

{'AAPL': [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, ...], 'BTC': [3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297, 303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, ...], 'ETH': [4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94, 100, 106, 112, 118, 124, 130, 136, 142, 148, 154, 160, 166, 172, 178, 184, 190, 196, 202, 208, 214, 220, 226, 232, 238, 244, 250, 256, 262, 268, 274, 280, 286, 292, 298, 304, 310, 316, 322, 328, 334, 340, 346, 352, 358, 364, 370, 376, 382, 388, 394, 400, 406, 412, 418, 424, 430, 436, 442, 448, 454, 460, 466, 472, 478, 484, 490, 496, 502, 508, 514, 520, 526, 532, 538, 544, 550, 556, 562, 568, 574, 580, 586, 592, 598, ...], 'GOOGL': [1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 85, 91, 97, 103, 109, 115, 121, 127, 133, 139, 145, 151, 157, 163, 169, 175, 181, 187, 193, 199, 205, 211, 217, 223, 229, 235, 241, 247, 253, 259, 265, 271, 277, 283, 289, 295, 301, 307, 313, 319, 325, 331, 337, 343, 349, 355, 361, 367, 373, 379, 385, 391, 397, 403, 409, 415, 421, 427, 433, 439, 445, 451, 457, 463, 469, 475, 481, 487, 493, 499, 505, 511, 517, 523, 529, 535, 541, 547, 553, 559, 565, 571, 577, 583, 589, 595, ...], 'MSFT': [2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98, 104, 110, 116, 122, 128, 134, 140, 146, 152, 158, 164, 170, 176, 182, 188, 194, 200, 206, 212, 218, 224, 230, 236, 242, 248, 254, 260, 266, 272, 278, 284, 290, 296, 302, 308, 314, 320, 326, 332, 338, 344, 350, 356, 362, 368, 374, 380, 386, 392, 398, 404, 410, 416, 422, 428, 434, 440, 446, 452, 458, 464, 470, 476, 482, 488, 494, 500, 506, 512, 518, 524, 530, 536, 542, 548, 554, 560, 566, 572, 578, 584, 590, 596, ...], 'XRP': [5, 11, 17, 23, 29, 35, 41, 47, 53, 59, 65, 71, 77, 83, 89, 95, 101, 107, 113, 119, 125, 131, 137, 143, 149, 155, 161, 167, 173, 179, 185, 191, 197, 203, 209, 215, 221, 227, 233, 239, 245, 251, 257, 263, 269, 275, 281, 287, 293, 299, 305, 311, 317, 323, 329, 335, 341, 347, 353, 359, 365, 371, 377, 383, 389, 395, 401, 407, 413, 419, 425, 431, 437, 443, 449, 455, 461, 467, 473, 479, 485, 491, 497, 503, 509, 515, 521, 527, 533, 539, 545, 551, 557, 563, 569, 575, 581, 587, 593, 599, ...]}

In [14]:
print(tickers.describe())

       Unnamed: 0                                                              \
            count      mean            std  min       25%       50%       75%
Ticker
AAPL     166667.0  499998.0  288676.577969  0.0  249999.0  499998.0  749997.0
BTC      166667.0  500001.0  288676.577969  3.0  250002.0  500001.0  750000.0
ETH      166666.0  499999.0  288674.845918  4.0  250001.5  499999.0  749996.5
GOOGL    166667.0  499999.0  288676.577969  1.0  250000.0  499999.0  749998.0
MSFT     166667.0  500000.0  288676.577969  2.0  250001.0  500000.0  749999.0
XRP      166666.0  500000.0  288674.845918  5.0  250002.5  500000.0  749997.5

                     Price          ...                    Volume              \
             max     count    mean  ...     75%     max     count   mean  std
Ticker                              ...
AAPL    999996.0  166667.0   150.0  ...   150.0   150.0  166667.0  100.0  0.0
BTC     999999.0  166667.0   155.0  ...   155.0   155.0  166667.0  110.0  0.0
ETH     999994.0  166666.0  2550.0  ...  2550.0  2550.0  166666.0  210.0  0.0
GOOGL   999997.0  166667.0  2500.0  ...  2500.0  2500.0  166667.0  200.0  0.0
MSFT    999998.0  166667.0   300.0  ...   300.0   300.0  166667.0  150.0  0.0
XRP     999995.0  166666.0   310.0  ...   310.0   310.0  166666.0  160.0  0.0


          min    25%    50%    75%    max
Ticker
AAPL    100.0  100.0  100.0  100.0  100.0
BTC     110.0  110.0  110.0  110.0  110.0
ETH     210.0  210.0  210.0  210.0  210.0
GOOGL   200.0  200.0  200.0  200.0  200.0
MSFT    150.0  150.0  150.0  150.0  150.0
XRP     160.0  160.0  160.0  160.0  160.0

[6 rows x 24 columns]

In [15]:
print(tickers.sample(5))

        Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell  \
606012      606012  2022-01-08 00:20:12   AAPL    150     100      Buy
982926      982926  2022-01-12 09:02:06   AAPL    150     100      Buy
984798      984798  2022-01-12 09:33:18   AAPL    150     100      Buy
262566      262566  2022-01-04 00:56:06   AAPL    150     100      Buy
626754      626754  2022-01-08 06:05:54   AAPL    150     100      Buy
581175      581175  2022-01-07 17:26:15    BTC    155     110     Sell
601995      601995  2022-01-07 23:13:15    BTC    155     110     Sell
447777      447777  2022-01-06 04:22:57    BTC    155     110     Sell
448749      448749  2022-01-06 04:39:09    BTC    155     110     Sell
626019      626019  2022-01-08 05:53:39    BTC    155     110     Sell
864238      864238  2022-01-11 00:03:58    ETH   2550     210      Buy
264508      264508  2022-01-04 01:28:28    ETH   2550     210      Buy
780010      780010  2022-01-10 00:40:10    ETH   2550     210      Buy
139114      139114  2022-01-02 14:38:34    ETH   2550     210      Buy
799702      799702  2022-01-10 06:08:22    ETH   2550     210      Buy
257089      257089  2022-01-03 23:24:49  GOOGL   2500     200     Sell
413971      413971  2022-01-05 18:59:31  GOOGL   2500     200     Sell
140929      140929  2022-01-02 15:08:49  GOOGL   2500     200     Sell
174871      174871  2022-01-03 00:34:31  GOOGL   2500     200     Sell
700933      700933  2022-01-09 02:42:13  GOOGL   2500     200     Sell
828938      828938  2022-01-10 14:15:38   MSFT    300     150      Buy
826856      826856  2022-01-10 13:40:56   MSFT    300     150      Buy
914864      914864  2022-01-11 14:07:44   MSFT    300     150      Buy
472646      472646  2022-01-06 11:17:26   MSFT    300     150      Buy
319928      319928  2022-01-04 16:52:08   MSFT    300     150      Buy
176129      176129  2022-01-03 00:55:29    XRP    310     160     Sell
339197      339197  2022-01-04 22:13:17    XRP    310     160     Sell
712703      712703  2022-01-09 05:58:23    XRP    310     160     Sell
76349        76349  2022-01-01 21:12:29    XRP    310     160     Sell
366779      366779  2022-01-05 05:52:59    XRP    310     160     Sell

       Trader_ID  Exchange
606012        T1      NYSE
982926        T1      NYSE
984798        T1      NYSE
262566        T1      NYSE
626754        T1      NYSE
581175        T4   Binance
601995        T4   Binance
447777        T4   Binance
448749        T4   Binance
626019        T4   Binance
864238        T5     Bybit
264508        T5     Bybit
780010        T5     Bybit
139114        T5     Bybit
799702        T5     Bybit
257089        T2    NASDAQ
413971        T2    NASDAQ
140929        T2    NASDAQ
174871        T2    NASDAQ
700933        T2    NASDAQ
828938        T3      NYSE
826856        T3      NYSE
914864        T3      NYSE
472646        T3      NYSE
319928        T3      NYSE
176129        T6  Coinbase
339197        T6  Coinbase
712703        T6  Coinbase
76349         T6  Coinbase
366779        T6  Coinbase

In [16]:
print(tickers.nunique())

        Unnamed: 0  Timestamp  Price  Volume  Buy/Sell  Trader_ID  Exchange
Ticker
AAPL        166667     166667      1       1         1          1         1
BTC         166667     166667      1       1         1          1         1
ETH         166666     166666      1       1         1          1         1
GOOGL       166667     166667      1       1         1          1         1
MSFT        166667     166667      1       1         1          1         1
XRP         166666     166666      1       1         1          1         1

In [17]:
print(tickers.agg({
    "Volume": "sum",
    "Price": "mean"
}))

          Volume   Price
Ticker
AAPL    16666700   150.0
BTC     18333370   155.0
ETH     34999860  2550.0
GOOGL   33333400  2500.0
MSFT    25000050   300.0
XRP     26666560   310.0

In [18]:
print(tickers.agg({
    "Volume": ["sum", "mean"],
    "Price": "mean"
}))

          Volume          Price
             sum   mean    mean
Ticker
AAPL    16666700  100.0   150.0
BTC     18333370  110.0   155.0
ETH     34999860  210.0  2550.0
GOOGL   33333400  200.0  2500.0
MSFT    25000050  150.0   300.0
XRP     26666560  160.0   310.0

In [19]:
print(tickers[["Volume", "Price"]].agg(["sum", "mean", "min", "max"]))

          Volume                       Price
             sum   mean  min  max        sum    mean   min   max
Ticker
AAPL    16666700  100.0  100  100   25000050   150.0   150   150
BTC     18333370  110.0  110  110   25833385   155.0   155   155
ETH     34999860  210.0  210  210  424998300  2550.0  2550  2550
GOOGL   33333400  200.0  200  200  416667500  2500.0  2500  2500
MSFT    25000050  150.0  150  150   50000100   300.0   300   300
XRP     26666560  160.0  160  160   51666460   310.0   310   310

In [20]:
print(tickers.agg({
    "Volume": ["sum", "mean", "std"],
    "Price": ["max", "min", "mean"]
}))

          Volume             Price
             sum   mean  std   max   min    mean
Ticker
AAPL    16666700  100.0  0.0   150   150   150.0
BTC     18333370  110.0  0.0   155   155   155.0
ETH     34999860  210.0  0.0  2550  2550  2550.0
GOOGL   33333400  200.0  0.0  2500  2500  2500.0
MSFT    25000050  150.0  0.0   300   300   300.0
XRP     26666560  160.0  0.0   310   310   310.0

In [21]:
# Looping on groups

for group, data in tickers:
    print(group)
    print(data['Ticker'].unique())

AAPL
['AAPL']
BTC
['BTC']
ETH
['ETH']
GOOGL
['GOOGL']
MSFT
['MSFT']
XRP
['XRP']

In [22]:
# Apply
print(tickers["Volume"].apply(min))

Ticker
AAPL     100
BTC      110
ETH      210
GOOGL    200
MSFT     150
XRP      160
Name: Volume, dtype: int64

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_13444\1725178144.py:2: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  print(tickers["Volume"].apply(min))

In [23]:
# Multiple grouping

print(exchange_df.groupby(['Ticker', 'Buy/Sell', "Exchange"]).size())

Ticker  Buy/Sell  Exchange
AAPL    Buy       NYSE        166667
BTC     Sell      Binance     166667
ETH     Buy       Bybit       166666
GOOGL   Sell      NASDAQ      166667
MSFT    Buy       NYSE        166667
XRP     Sell      Coinbase    166666
dtype: int64

In [24]:
print(exchange_df.groupby(['Ticker', 'Buy/Sell', "Exchange"]).get_group(("ETH", "Buy", "Bybit")))

        Unnamed: 0            Timestamp Ticker  Price  Volume Buy/Sell  \
4                4  2022-01-01 00:00:04    ETH   2550     210      Buy
10              10  2022-01-01 00:00:10    ETH   2550     210      Buy
16              16  2022-01-01 00:00:16    ETH   2550     210      Buy
22              22  2022-01-01 00:00:22    ETH   2550     210      Buy
28              28  2022-01-01 00:00:28    ETH   2550     210      Buy
...            ...                  ...    ...    ...     ...      ...
999970      999970  2022-01-12 13:46:10    ETH   2550     210      Buy
999976      999976  2022-01-12 13:46:16    ETH   2550     210      Buy
999982      999982  2022-01-12 13:46:22    ETH   2550     210      Buy
999988      999988  2022-01-12 13:46:28    ETH   2550     210      Buy
999994      999994  2022-01-12 13:46:34    ETH   2550     210      Buy

       Trader_ID Exchange
4             T5    Bybit
10            T5    Bybit
16            T5    Bybit
22            T5    Bybit
28            T5    Bybit
...          ...      ...
999970        T5    Bybit
999976        T5    Bybit
999982        T5    Bybit
999988        T5    Bybit
999994        T5    Bybit

[166666 rows x 8 columns]

In [25]:
ticker_exchange = exchange_df.groupby(['Ticker', 'Buy/Sell', "Exchange"])
print(ticker_exchange[["Volume", "Price"]].agg(["max", "min"]))

                         Volume      Price
                            max  min   max   min
Ticker Buy/Sell Exchange
AAPL   Buy      NYSE        100  100   150   150
BTC    Sell     Binance     110  110   155   155
ETH    Buy      Bybit       210  210  2550  2550
GOOGL  Sell     NASDAQ      200  200  2500  2500
MSFT   Buy      NYSE        150  150   300   300
XRP    Sell     Coinbase    160  160   310   310

In [26]:
print(exchange_df.groupby("Ticker").size())

Ticker
AAPL     166667
BTC      166667
ETH      166666
GOOGL    166667
MSFT     166667
XRP      166666
dtype: int64

In [27]:
tickers = exchange_df.groupby("Ticker")
print(tickers.agg({
    "Price": "mean"
}))

         Price
Ticker
AAPL     150.0
BTC      155.0
ETH     2550.0
GOOGL   2500.0
MSFT     300.0
XRP      310.0

In [28]:
print(tickers.agg({
    "Volume": "sum"
}))

          Volume
Ticker
AAPL    16666700
BTC     18333370
ETH     34999860
GOOGL   33333400
MSFT    25000050
XRP     26666560

In [29]:
print(tickers["Price"].first())

Ticker
AAPL      150
BTC       155
ETH      2550
GOOGL    2500
MSFT      300
XRP       310
Name: Price, dtype: int64

In [67]:
exchange_df["Hour"] = pd.to_datetime(exchange_df["Timestamp"]).dt.hour

print(exchange_df.groupby(["Exchange", "Hour"]).agg({
    "Volume": "sum"
}))

                Volume
Exchange Hour
Binance  0      792000
         1      792000
         2      792000
         3      792000
         4      792000
...                ...
NYSE     19    1650000
         20    1650000
         21    1650000
         22    1650000
         23    1650000

[120 rows x 1 columns]

In [69]:
print(exchange_df.groupby(["Ticker", "Buy/Sell"]).agg({
    "Volume": "sum"
}))

                   Volume
Ticker Buy/Sell
AAPL   Buy       16666700
BTC    Sell      18333370
ETH    Buy       34999860
GOOGL  Sell      33333400
MSFT   Buy       25000050
XRP    Sell      26666560

In [71]:
print(exchange_df.groupby("Ticker").apply(lambda x: (x["Volume"] * x["Price"]).sum()/x["Volume"].sum()))

Ticker
AAPL      150.0
BTC       155.0
ETH      2550.0
GOOGL    2500.0
MSFT      300.0
XRP       310.0
dtype: float64

C:\Users\emmanuel.osademe\AppData\Local\Temp\ipykernel_13444\2503577020.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(exchange_df.groupby("Ticker").apply(lambda x: (x["Volume"] * x["Price"]).sum()/x["Volume"].sum()))