In [1]:
import pandas as pd
import numpy as np

Creating Dataframes

In [2]:
# using list
price_data = [[100, 200, 300, 400, 500, 600], 
              [100, 200, 300, 400, 500, 600],
              [100, 200, 300, 400, 500, 600],
              [100, 200, 300, 400, 500, 600]
             ]

list_df = pd.DataFrame(price_data)
print(list_df)
print(type(list_df))

     0    1    2    3    4    5
0  100  200  300  400  500  600
1  100  200  300  400  500  600
2  100  200  300  400  500  600
3  100  200  300  400  500  600
<class 'pandas.core.frame.DataFrame'>

In [3]:
# With Dict
price_data = {"stock": ["BTC", "TSLA", "AAPL", "META", "ETH", "MCST"], 
              "open": [100, 200, 300, 400, 500, 600], 
              "high": [100, 200, 300, 400, 500, 600],
              "low": [100, 200, 300, 400, 500, 600],
              "close": [100, 200, 300, 400, 500, 600],
              "volume": [100, 200, 300, 400, 500, 600]
             }

dict_df = pd.DataFrame(price_data)
print(dict_df)
print(type(dict_df))

  stock  open  high  low  close  volume
0   BTC   100   100  100    100     100
1  TSLA   200   200  200    200     200
2  AAPL   300   300  300    300     300
3  META   400   400  400    400     400
4   ETH   500   500  500    500     500
5  MCST   600   600  600    600     600
<class 'pandas.core.frame.DataFrame'>

In [4]:
dict_df.set_index("stock", inplace=True)
print(dict_df)

       open  high  low  close  volume
stock
BTC     100   100  100    100     100
TSLA    200   200  200    200     200
AAPL    300   300  300    300     300
META    400   400  400    400     400
ETH     500   500  500    500     500
MCST    600   600  600    600     600

In [13]:
# From csv

algo_df = pd.read_csv("files/algotrading_combined_dataset.csv")
funda_df = pd.read_csv("files/fundamental_research_dataset_large.csv")
print(funda_df.head())
print(algo_df.head())

  Ticker           Company Name      Sector             Industry  \
0   AAPL             Apple Inc.  Technology       Semiconductors
1  GOOGL          Alphabet Inc.     Finance  Investment Services
2   MSFT  Microsoft Corporation     Finance                Banks
3   AMZN       Amazon.com, Inc.  Healthcare      Pharmaceuticals
4   TSLA            Tesla, Inc.      Energy            Oil & Gas

   Market Cap (B)   EPS  P/E Ratio  Dividend Yield (%)  P/B Ratio  D/E Ratio
0          458.13 -9.78      44.16                2.19       9.17       2.56
1          215.85  4.86      27.56                8.14      14.93       0.06
2          276.46  5.09       6.73                0.27       1.76       1.31
3          349.40 -0.53      28.30                5.92      15.40       0.27
4          248.55  9.92      27.04                2.20      10.20       0.12
         Date Ticker        Open        High         Low       Close    Volume
0  2015-01-01   AAPL  101.031849  101.329723   98.852354  101.197410  344567.0
1  2015-01-02   AAPL  100.866496  100.866496   99.568981  101.220064  310521.0
2  2015-01-05   AAPL  101.164489  101.176821  100.920124  101.339872       NaN
3  2015-01-06   AAPL         NaN  103.203859  102.287356  101.777905  295025.0
4  2015-01-07   AAPL  102.744728  104.050309  102.211701  102.090310  439080.0

Attributes and Methods

In [22]:
print(algo_df.shape)
print(funda_df.shape)

print(algo_df.dtypes)
print(funda_df.dtypes)

(32870, 7)
(1050, 10)
Date       object
Ticker     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object
Ticker                 object
Company Name           object
Sector                 object
Industry               object
Market Cap (B)        float64
EPS                   float64
P/E Ratio             float64
Dividend Yield (%)    float64
P/B Ratio             float64
D/E Ratio             float64
dtype: object

In [24]:
print(algo_df.index)
print(funda_df.index)

RangeIndex(start=0, stop=32870, step=1)
RangeIndex(start=0, stop=1050, step=1)

In [26]:
print(algo_df.columns)
print(funda_df.columns)

Index(['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')
Index(['Ticker', 'Company Name', 'Sector', 'Industry', 'Market Cap (B)', 'EPS',
       'P/E Ratio', 'Dividend Yield (%)', 'P/B Ratio', 'D/E Ratio'],
      dtype='object')

In [28]:
print(algo_df.values)
print(funda_df.values)

[['2015-01-01' 'AAPL' 101.03184941004706 ... 98.85235437937838
  101.19741015525102 344567.0]
 ['2015-01-02' 'AAPL' 100.8664959216968 ... 99.5689811441504
  101.22006444647305 310521.0]
 ['2015-01-05' 'AAPL' 101.1644889006902 ... 100.92012448620686
  101.3398717110426 nan]
 ...
 ['2018-03-09' 'AMZN' 98.07461328046368 ... 96.20317673355092
  97.48761554705614 76911.0]
 ['2018-05-02' 'LTC/USD' 103.44322425714826 ... 103.1592860645143 nan
  552764.0]
 ['2020-09-18' 'ETH/USD' 164.75532933160764 ... 164.75532933160764
  164.72202588322403 816832.0]]
[['AAPL' 'Apple Inc.' 'Technology' ... 2.19 9.17 2.56]
 ['GOOGL' 'Alphabet Inc.' 'Finance' ... 8.14 14.93 0.06]
 ['MSFT' 'Microsoft Corporation' 'Finance' ... 0.27 1.76 1.31]
 ...
 ['GOOGL' 'Alphabet Inc.' 'Utilities' ... 6.17 5.59 1.34]
 ['V' 'Visa Inc.' 'Industrial Goods' ... nan 4.89 2.91]
 ['JNJ' 'Johnson & Johnson' 'Technology' ... 3.35 7.18 0.69]]

In [30]:
print(algo_df.sample(5))
print(funda_df.sample(5))

             Date   Ticker        Open        High         Low       Close  \
7188   2018-07-23     AMZN  121.382950  122.497894  120.173867  121.661165
32553  2021-11-05     AAPL  186.327240  187.944032  186.327240  187.627613
19424  2017-06-16  USD/CAD   97.287888   99.672783   97.287888   97.558617
22709  2022-01-19  BTC/USD  180.440547  181.429428  180.189634  179.711366
20328  2020-12-03  USD/CAD  172.468867  172.833999  171.456342  172.357074

         Volume
7188   561948.0
32553  225420.0
19424  211154.0
22709  108399.0
20328  180508.0
    Ticker       Company Name            Sector         Industry  \
700   AAPL         Apple Inc.        Healthcare    Biotechnology
64    TSLA        Tesla, Inc.        Healthcare    Biotechnology
360   AAPL         Apple Inc.  Industrial Goods    Manufacturing
193   AMZN   Amazon.com, Inc.        Healthcare  Medical Devices
427    JNJ  Johnson & Johnson  Industrial Goods    Manufacturing

     Market Cap (B)   EPS  P/E Ratio  Dividend Yield (%)  P/B Ratio  D/E Ratio
700          400.62 -6.34      33.16                9.70      10.51       0.56
64            55.68  6.86      48.50                7.13       8.44       2.85
360             NaN  6.40      36.27                0.24       2.73       0.40
193          366.07  7.91      47.14                4.91       2.28       1.40
427          259.67 -4.09        NaN                5.74      11.59       2.56

In [32]:
print(algo_df.info())
print(funda_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32870 entries, 0 to 32869
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    32870 non-null  object
 1   Ticker  32870 non-null  object
 2   Open    31495 non-null  float64
 3   High    31302 non-null  float64
 4   Low     31090 non-null  float64
 5   Close   30929 non-null  float64
 6   Volume  30802 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ticker              1050 non-null   object
 1   Company Name        1050 non-null   object
 2   Sector              1050 non-null   object
 3   Industry            1050 non-null   object
 4   Market Cap (B)      946 non-null    float64
 5   EPS                 947 non-null    float64
 6   P/E Ratio           932 non-null    float64
 7   Dividend Yield (%)  951 non-null    float64
 8   P/B Ratio           934 non-null    float64
 9   D/E Ratio           953 non-null    float64
dtypes: float64(6), object(4)
memory usage: 82.2+ KB
None

In [36]:
print(algo_df.describe(include="all"))
print(funda_df.describe(include="all"))

              Date   Ticker          Open          High           Low  \
count        32870    32870  31495.000000  31302.000000  31090.000000
unique        2087       15           NaN           NaN           NaN
top     2016-01-08  XRP/USD           NaN           NaN           NaN
freq            19     2213           NaN           NaN           NaN
mean           NaN      NaN    133.600798    134.416157    132.420885
std            NaN      NaN     35.566539     35.716248     35.661035
min            NaN      NaN     83.254666     84.062713     81.978737
25%            NaN      NaN     98.251137     98.928322     97.038250
50%            NaN      NaN    132.147803    132.534488    130.718141
75%            NaN      NaN    169.633748    171.193317    168.811891
max            NaN      NaN    196.068319    196.712825    194.736434

               Close         Volume
count   30929.000000   30802.000000
unique           NaN            NaN
top              NaN            NaN
freq             NaN            NaN
mean      133.369927  492483.749302
std        35.715660  283838.912786
min        83.411785    1203.000000
25%        97.824039  248663.000000
50%       131.890827  490922.000000
75%       170.103620  725434.000000
max       196.349019  999653.000000
       Ticker   Company Name          Sector       Industry  Market Cap (B)  \
count    1050           1050            1050           1050      946.000000
unique     10             10               7             21             NaN
top     GOOGL  Alphabet Inc.  Consumer Goods  Biotechnology             NaN
freq      109            109             168             65             NaN
mean      NaN            NaN             NaN            NaN      245.828816
std       NaN            NaN             NaN            NaN      143.805850
min       NaN            NaN             NaN            NaN        1.130000
25%       NaN            NaN             NaN            NaN      122.340000
50%       NaN            NaN             NaN            NaN      244.035000
75%       NaN            NaN             NaN            NaN      366.467500
max       NaN            NaN             NaN            NaN      499.300000

               EPS   P/E Ratio  Dividend Yield (%)   P/B Ratio   D/E Ratio
count   947.000000  932.000000          951.000000  934.000000  953.000000
unique         NaN         NaN                 NaN         NaN         NaN
top            NaN         NaN                 NaN         NaN         NaN
freq           NaN         NaN                 NaN         NaN         NaN
mean      0.186526   27.632908            4.942019   10.262184    1.509108
std       5.607485   12.987280            2.807937    5.641622    0.891138
min      -9.940000    5.050000            0.060000    0.100000    0.000000
25%      -4.565000   16.605000            2.555000    5.570000    0.720000
50%       0.430000   27.260000            4.980000   10.370000    1.500000
75%       4.730000   39.012500            7.320000   14.840000    2.280000
max       9.980000   50.000000            9.980000   20.000000    3.000000

In [44]:
print(algo_df.isnull().sum())
print(funda_df.isnull().sum())

Date         0
Ticker       0
Open      1375
High      1568
Low       1780
Close     1941
Volume    2068
dtype: int64
Ticker                  0
Company Name            0
Sector                  0
Industry                0
Market Cap (B)        104
EPS                   103
P/E Ratio             118
Dividend Yield (%)     99
P/B Ratio             116
D/E Ratio              97
dtype: int64

In [50]:
print(algo_df.duplicated().sum())
print(funda_df.duplicated().sum())

1565
50

In [54]:
# rename

algo_df.rename(columns={"High": "high", "Low":"low"}, inplace=True)
print(algo_df.head())

algo_df.rename(columns={"high": "High", "low":"Low"}, inplace=True)
print(algo_df.head())

         Date Ticker        Open        high         low       Close    Volume
0  2015-01-01   AAPL  101.031849  101.329723   98.852354  101.197410  344567.0
1  2015-01-02   AAPL  100.866496  100.866496   99.568981  101.220064  310521.0
2  2015-01-05   AAPL  101.164489  101.176821  100.920124  101.339872       NaN
3  2015-01-06   AAPL         NaN  103.203859  102.287356  101.777905  295025.0
4  2015-01-07   AAPL  102.744728  104.050309  102.211701  102.090310  439080.0
         Date Ticker        Open        High         Low       Close    Volume
0  2015-01-01   AAPL  101.031849  101.329723   98.852354  101.197410  344567.0
1  2015-01-02   AAPL  100.866496  100.866496   99.568981  101.220064  310521.0
2  2015-01-05   AAPL  101.164489  101.176821  100.920124  101.339872       NaN
3  2015-01-06   AAPL         NaN  103.203859  102.287356  101.777905  295025.0
4  2015-01-07   AAPL  102.744728  104.050309  102.211701  102.090310  439080.0

In [56]:
print(algo_df.sum())

Date      2015-01-012015-01-022015-01-052015-01-062015-0...
Ticker    AAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAA...
Open                                         4207757.117833
High                                         4207494.546006
Low                                          4116965.329115
Close                                        4124998.472722
Volume                                        15169484446.0
dtype: object

In [60]:
print(algo_df["High"].mean())

134.41615698695395

In [62]:
print(algo_df["High"].var())

1275.6503714830628

In [64]:
# Selecting cols
num_cols = algo_df[["Open", "High", "Low", "Close", "Volume"]]
print(num_cols.head())

         Open        High         Low       Close    Volume
0  101.031849  101.329723   98.852354  101.197410  344567.0
1  100.866496  100.866496   99.568981  101.220064  310521.0
2  101.164489  101.176821  100.920124  101.339872       NaN
3         NaN  103.203859  102.287356  101.777905  295025.0
4  102.744728  104.050309  102.211701  102.090310  439080.0

In [86]:
# loc (label Indexing) and iloc (Integer Indexing)

print(algo_df.iloc[0])
print(algo_df.iloc[0:6])

Date      2015-01-01
Open      101.031849
High      101.329723
Low        98.852354
Close      101.19741
Volume      344567.0
Name: AAPL, dtype: object
              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-05  101.164489  101.176821  100.920124  101.339872       NaN
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0
AAPL    2015-01-08  101.311978  102.094773  100.520561  102.675189  387721.0

In [88]:
print(algo_df.iloc[0:20:3])

              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-09  103.086618  104.923811  102.498791         NaN  712028.0
AAPL    2015-01-14  104.211973  104.931374  104.088945  103.762217  427009.0
AAPL    2015-01-19  104.691568  105.718046  102.551609         NaN  482725.0
AAPL    2015-01-22   98.618999   99.621320   97.934157  100.057186  261220.0
AAPL    2015-01-27   98.602883   98.602883   97.494718   97.791861  480083.0

In [90]:
print(algo_df.iloc[[1, 4, 7, 9, 12]])

              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0
AAPL    2015-01-12  104.973922  105.968278  103.491534  104.203536  779883.0
AAPL    2015-01-14  104.211973  104.931374  104.088945  103.762217  427009.0
AAPL    2015-01-19  104.691568  105.718046  102.551609         NaN  482725.0

In [92]:
# printing with label indexing
print(algo_df.head())
algo_df.set_index("Ticker", inplace=True)
print(algo_df.head())

              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-05  101.164489  101.176821  100.920124  101.339872       NaN
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0

KeyError: "None of ['Ticker'] are in the columns"

In [94]:
print(algo_df.loc["AAPL"])

              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-05  101.164489  101.176821  100.920124  101.339872       NaN
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0
...            ...         ...         ...         ...         ...       ...
AAPL    2020-02-19  150.230564  152.106345         NaN  151.376466  421871.0
AAPL    2021-03-12  165.111622  167.918865  165.111622  166.669421  911103.0
AAPL    2020-12-17  171.899651  174.215402  171.837508         NaN  300519.0
AAPL    2016-12-08  104.954466  105.582802         NaN  103.949511  143108.0
AAPL    2017-01-24   92.780364   93.092012   91.238510         NaN  754158.0

[2180 rows x 6 columns]

In [96]:
print(algo_df.loc[["AAPL", "GOOG", "MSFT"]])

              Date        Open        High         Low       Close    Volume
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-05  101.164489  101.176821  100.920124  101.339872       NaN
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0
...            ...         ...         ...         ...         ...       ...
MSFT    2022-02-10  179.490357  180.565105  179.030884  180.682115  732794.0
MSFT    2016-04-28  102.815060  104.145536  101.881811         NaN  521112.0
MSFT    2015-11-20   99.156765  100.166158   97.999067   98.961851  482862.0
MSFT    2020-05-12  148.657685  148.813482  146.388988  148.501701  270189.0
MSFT    2018-03-12   96.464138   97.257331   96.132179   97.678641  409449.0

[6567 rows x 6 columns]

In [100]:
# Selecting both rows and columns

print(algo_df.iloc[0:5, 2:])

              High         Low       Close    Volume
Ticker
AAPL    101.329723   98.852354  101.197410  344567.0
AAPL    100.866496   99.568981  101.220064  310521.0
AAPL    101.176821  100.920124  101.339872       NaN
AAPL    103.203859  102.287356  101.777905  295025.0
AAPL    104.050309  102.211701  102.090310  439080.0

In [106]:
print(algo_df.loc["AAPL", "High":"Volume"])

              High         Low       Close    Volume
Ticker
AAPL    101.329723   98.852354  101.197410  344567.0
AAPL    100.866496   99.568981  101.220064  310521.0
AAPL    101.176821  100.920124  101.339872       NaN
AAPL    103.203859  102.287356  101.777905  295025.0
AAPL    104.050309  102.211701  102.090310  439080.0
...            ...         ...         ...       ...
AAPL    152.106345         NaN  151.376466  421871.0
AAPL    167.918865  165.111622  166.669421  911103.0
AAPL    174.215402  171.837508         NaN  300519.0
AAPL    105.582802         NaN  103.949511  143108.0
AAPL     93.092012   91.238510         NaN  754158.0

[2180 rows x 4 columns]

In [108]:
# Adding new columns
algo_df["Diff"] = algo_df["High"] - algo_df["Low"]
print(algo_df.head())

              Date        Open        High         Low       Close    Volume  \
Ticker
AAPL    2015-01-01  101.031849  101.329723   98.852354  101.197410  344567.0
AAPL    2015-01-02  100.866496  100.866496   99.568981  101.220064  310521.0
AAPL    2015-01-05  101.164489  101.176821  100.920124  101.339872       NaN
AAPL    2015-01-06         NaN  103.203859  102.287356  101.777905  295025.0
AAPL    2015-01-07  102.744728  104.050309  102.211701  102.090310  439080.0

            Diff
Ticker
AAPL    2.477369
AAPL    1.297515
AAPL    0.256697
AAPL    0.916503
AAPL    1.838608