In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating Series from list

list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stocks = pd.Series(list_str)
print(stocks)
print(type(stocks))

0        Apple
1    Microsoft
2      Bitcoin
3     Ethereum
dtype: object
<class 'pandas.core.series.Series'>

In [3]:
list_int = [100, 101, 102, 103]

stocks_price = pd.Series(list_int)
print(stocks_price)
print(type(stocks_price))

0    100
1    101
2    102
3    103
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
# Custom Index
list_int = [100, 101, 102, 103]
list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stock_data = pd.Series(list_str, index=list_int)
print(stock_data)
print(type(stock_data))

100        Apple
101    Microsoft
102      Bitcoin
103     Ethereum
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
print(stock_data[100])

Apple

In [6]:
# Setting a name
list_int = [100, 101, 102, 103]
list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stock_data = pd.Series(list_str, index=list_int, name="Stock Data of Emmanuel")
print(stock_data)
print(type(stock_data))
print(stock_data.name)

100        Apple
101    Microsoft
102      Bitcoin
103     Ethereum
Name: Stock Data of Emmanuel, dtype: object
<class 'pandas.core.series.Series'>
Stock Data of Emmanuel

In [7]:
# Series from Dictionary
dict = {"Apple":101.1, "Microsoft": 123.2, "Bitcoin": 98098, "Ethereum": 198}
stock_data = pd.Series(dict)
print(stock_data)

Apple          101.1
Microsoft      123.2
Bitcoin      98098.0
Ethereum       198.0
dtype: float64

In [8]:
dict = {"Apple":101.1, "Microsoft": 123.2, "Bitcoin": 98098, "Ethereum": 198}
stock_data = pd.Series(dict, name="Stock Data of Emmanuel")
print(stock_data)

Apple          101.1
Microsoft      123.2
Bitcoin      98098.0
Ethereum       198.0
Name: Stock Data of Emmanuel, dtype: float64

In [9]:
# Series Attributes

# size
print(stock_data.size)

4

In [10]:
# dtype

print(stock_data.dtype)

float64

In [11]:
# name

print(stock_data.name)

Stock Data of Emmanuel

In [12]:
# is_unique

print(stock_data.is_unique)

True

In [13]:
# index

print(stock_data.index)
print(type(stock_data.index))

Index(['Apple', 'Microsoft', 'Bitcoin', 'Ethereum'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [14]:
# values

print(stock_data.values)
print(type(stock_data.values))

[  101.1   123.2 98098.    198. ]
<class 'numpy.ndarray'>

Creating Series from csv files

In [16]:
import requests

url = "https://api.coingecko.com/api/v3/coins/markets"

params = {
    "vs_currency": "usd",
    "order": "market_cap_desc",
    "per_page": 100,
    "page": 1,
    "sparkline": False
}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print(df.head())
else:
    print(f"Failed to fetch data: {response.status_code}")

            id symbol      name  \
0      bitcoin    btc   Bitcoin
1     ethereum    eth  Ethereum
2       tether   usdt    Tether
3       ripple    xrp       XRP
4  binancecoin    bnb       BNB

                                               image  current_price  \
0  https://coin-images.coingecko.com/coins/images...      108134.00
1  https://coin-images.coingecko.com/coins/images...        2516.30
2  https://coin-images.coingecko.com/coins/images...           1.00
3  https://coin-images.coingecko.com/coins/images...           2.21
4  https://coin-images.coingecko.com/coins/images...         655.38

      market_cap  market_cap_rank  fully_diluted_valuation  total_volume  \
0  2150284855986                1            2150285829059  1.055896e+10
1   303542273895                2             303542273895  5.906574e+09
2   158624637618                3             158624637618  2.236902e+10
3   130684850135                4             221213003488  9.822654e+08
4    95593779597                5              95593779597  3.689315e+08

    high_24h  ...  total_supply    max_supply        ath  \
0  108295.00  ...  1.988809e+07  2.100000e+07  111814.00
1    2527.68  ...  1.207170e+08           NaN    4878.26
2       1.00  ...  1.585966e+11           NaN       1.32
3       2.23  ...  9.998597e+10  1.000000e+11       3.40
4     656.47  ...  1.458876e+08  2.000000e+08     788.84

   ath_change_percentage                  ath_date        atl  \
0               -3.32356  2025-05-22T18:41:28.492Z  67.810000
1              -48.56432  2021-11-10T14:24:19.604Z   0.432979
2              -24.40592  2018-07-24T00:00:00.000Z   0.572521
3              -34.98504  2018-01-07T00:00:00.000Z   0.002686
4              -16.98474  2024-12-04T10:35:25.220Z   0.039818

   atl_change_percentage                  atl_date  \
0           1.593154e+05  2013-07-06T00:00:00.000Z
1           5.794125e+05  2015-10-20T00:00:00.000Z
2           7.469781e+01  2015-03-02T00:00:00.000Z
3           8.215357e+04  2014-05-22T00:00:00.000Z
4           1.644547e+06  2017-10-19T00:00:00.000Z

                                                 roi              last_updated
0                                               None  2025-07-05T21:37:45.229Z
1  {'times': 30.104602094757734, 'currency': 'btc...  2025-07-05T21:37:46.840Z
2                                               None  2025-07-05T21:37:43.901Z
3                                               None  2025-07-05T21:37:41.569Z
4                                               None  2025-07-05T21:37:45.533Z

[5 rows x 26 columns]

In [17]:
df.to_csv("files/coins.csv", index  = False)

In [18]:
df = pd.read_csv("files/coins.csv")
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,108134.00,2150284855986,1,2150285829059,1.055896e+10,108295.00,...,1.988809e+07,2.100000e+07,111814.00,-3.32356,2025-05-22T18:41:28.492Z,67.810000,1.593154e+05,2013-07-06T00:00:00.000Z,NaN,2025-07-05T21:37:45.229Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,2516.30,303542273895,2,303542273895,5.906574e+09,2527.68,...,1.207170e+08,NaN,4878.26,-48.56432,2021-11-10T14:24:19.604Z,0.432979,5.794125e+05,2015-10-20T00:00:00.000Z,"{'times': 30.104602094757734, 'currency': 'btc...",2025-07-05T21:37:46.840Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,1.00,158624637618,3,158624637618,2.236902e+10,1.00,...,1.585966e+11,NaN,1.32,-24.40592,2018-07-24T00:00:00.000Z,0.572521,7.469781e+01,2015-03-02T00:00:00.000Z,NaN,2025-07-05T21:37:43.901Z
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,2.21,130684850135,4,221213003488,9.822654e+08,2.23,...,9.998597e+10,1.000000e+11,3.40,-34.98504,2018-01-07T00:00:00.000Z,0.002686,8.215357e+04,2014-05-22T00:00:00.000Z,NaN,2025-07-05T21:37:41.569Z
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,655.38,95593779597,5,95593779597,3.689315e+08,656.47,...,1.458876e+08,2.000000e+08,788.84,-16.98474,2024-12-04T10:35:25.220Z,0.039818,1.644547e+06,2017-10-19T00:00:00.000Z,NaN,2025-07-05T21:37:45.533Z

In [19]:
stocks = df["name"]
print(stocks[:5])
print(type(stocks))

0     Bitcoin
1    Ethereum
2      Tether
3         XRP
4         BNB
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [20]:
stocks = df[["name", "current_price"]]
print(stocks[:5])
print(type(stocks))

       name  current_price
0   Bitcoin      108134.00
1  Ethereum        2516.30
2    Tether           1.00
3       XRP           2.21
4       BNB         655.38
<class 'pandas.core.frame.DataFrame'>

In [21]:
stocks = df[["name", "current_price"]]
stocks = stocks.set_index("name")
stocks = stocks.squeeze()
print(stocks[:5])
print(type(stocks))

name
Bitcoin     108134.00
Ethereum      2516.30
Tether           1.00
XRP              2.21
BNB            655.38
Name: current_price, dtype: float64
<class 'pandas.core.series.Series'>

In [22]:
import sys

print(sys.getsizeof(stocks))

6815

In [23]:
stocks = stocks.astype(np.float32)
print(sys.getsizeof(stocks))

6415

In [24]:
series = df.squeeze()

# print(series[:5])
print(type(series))

<class 'pandas.core.frame.DataFrame'>

In [25]:
print(stocks.head())

name
Bitcoin     108134.000000
Ethereum      2516.300049
Tether           1.000000
XRP              2.210000
BNB            655.380005
Name: current_price, dtype: float32

In [26]:
# Sample

print(stocks.sample(5))

name
Wrapped eETH       2695.360107
Hyperliquid          38.880001
Rocket Pool ETH    2866.689941
Arbitrum              0.326551
sUSDS                 1.058000
Name: current_price, dtype: float32

In [27]:
# Value counts
print(stocks.value_counts())

print(stocks.value_counts(ascending=True))

current_price
1.000000         7
4.450000         2
108134.000000    1
0.182542         1
0.867162         1
                ..
108167.000000    1
313.769989       1
45.320000        1
0.154788         1
3346.699951      1
Name: count, Length: 93, dtype: int64
current_price
108134.000000    1
0.998211         1
0.175119         1
2516.709961      1
2.250000         1
                ..
2516.899902      1
0.000010         1
3346.699951      1
4.450000         2
1.000000         7
Name: count, Length: 93, dtype: int64

In [28]:
# Sort_values
print(stocks.sort_values())

name
Pepe                         0.000010
Shiba Inu                    0.000011
Bonk                         0.000018
Pudgy Penguins               0.015544
Flare                        0.016607
                            ...
PAX Gold                  3346.699951
Lombard Staked BTC      108015.000000
Wrapped Bitcoin         108128.000000
Bitcoin                 108134.000000
Coinbase Wrapped BTC    108167.000000
Name: current_price, Length: 100, dtype: float32

In [29]:
# Sort_index
print(stocks.sort_index(ascending=False))

# print(stocks.sort_index(ascending=False, inplace=True))

name
sUSDS                                       1.058000
XRP                                         2.210000
XDC Network                                 0.062085
Wrapped stETH                            3036.280029
Wrapped eETH                             2695.360107
                                            ...
Artificial Superintelligence Alliance       0.661723
Arbitrum                                    0.326551
Aptos                                       4.420000
Algorand                                    0.175119
Aave                                      272.779999
Name: current_price, Length: 100, dtype: float32

In [60]:
# Count - Excludes the NaN values
print(stocks.count())

100

In [62]:
# Size - Includes the NaN values
print(stocks.size)

100

In [64]:
df = pd.Series([1, 2, 3, np.nan, 4, 5])
print(df.count())
print(df.size)

5
6

In [68]:
# Sum and Product

print(df.sum())
print(df.product())

15.0
120.0

In [72]:
# mean
print(df.mean())
print(df.median())
# print(df.mode())
print(df.std())
print(df.var())
print(df.min())
print(df.max())

3.0
3.0
1.5811388300841898
2.5
1.0
5.0

In [76]:
print(df.describe(include=True))

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64