In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating Series from list

list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stocks = pd.Series(list_str)
print(stocks)
print(type(stocks))

0        Apple
1    Microsoft
2      Bitcoin
3     Ethereum
dtype: object
<class 'pandas.core.series.Series'>

In [3]:
list_int = [100, 101, 102, 103]

stocks_price = pd.Series(list_int)
print(stocks_price)
print(type(stocks_price))

0    100
1    101
2    102
3    103
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
# Custom Index
list_int = [100, 101, 102, 103]
list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stock_data = pd.Series(list_str, index=list_int)
print(stock_data)
print(type(stock_data))

100        Apple
101    Microsoft
102      Bitcoin
103     Ethereum
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
print(stock_data[100])

Apple

In [6]:
# Setting a name
list_int = [100, 101, 102, 103]
list_str = ["Apple", "Microsoft", "Bitcoin", "Ethereum"]

stock_data = pd.Series(list_str, index=list_int, name="Stock Data of Emmanuel")
print(stock_data)
print(type(stock_data))
print(stock_data.name)

100        Apple
101    Microsoft
102      Bitcoin
103     Ethereum
Name: Stock Data of Emmanuel, dtype: object
<class 'pandas.core.series.Series'>
Stock Data of Emmanuel

In [7]:
# Series from Dictionary
dict = {"Apple":101.1, "Microsoft": 123.2, "Bitcoin": 98098, "Ethereum": 198}
stock_data = pd.Series(dict)
print(stock_data)

Apple          101.1
Microsoft      123.2
Bitcoin      98098.0
Ethereum       198.0
dtype: float64

In [8]:
dict = {"Apple":101.1, "Microsoft": 123.2, "Bitcoin": 98098, "Ethereum": 198}
stock_data = pd.Series(dict, name="Stock Data of Emmanuel")
print(stock_data)

Apple          101.1
Microsoft      123.2
Bitcoin      98098.0
Ethereum       198.0
Name: Stock Data of Emmanuel, dtype: float64

In [9]:
# Series Attributes

# size
print(stock_data.size)

4

In [10]:
# dtype

print(stock_data.dtype)

float64

In [11]:
# name

print(stock_data.name)

Stock Data of Emmanuel

In [12]:
# is_unique

print(stock_data.is_unique)

True

In [13]:
# index

print(stock_data.index)
print(type(stock_data.index))

Index(['Apple', 'Microsoft', 'Bitcoin', 'Ethereum'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [14]:
# values

print(stock_data.values)
print(type(stock_data.values))

[  101.1   123.2 98098.    198. ]
<class 'numpy.ndarray'>

Creating Series from csv files

In [16]:
import requests

url = "https://api.coingecko.com/api/v3/coins/markets"

params = {
    "vs_currency": "usd",
    "order": "market_cap_desc",
    "per_page": 100,
    "page": 1,
    "sparkline": False
}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print(df.head())
else:
    print(f"Failed to fetch data: {response.status_code}")

            id symbol      name  \
0      bitcoin    btc   Bitcoin
1     ethereum    eth  Ethereum
2       tether   usdt    Tether
3       ripple    xrp       XRP
4  binancecoin    bnb       BNB

                                               image  current_price  \
0  https://coin-images.coingecko.com/coins/images...      107564.00
1  https://coin-images.coingecko.com/coins/images...        2431.64
2  https://coin-images.coingecko.com/coins/images...           1.00
3  https://coin-images.coingecko.com/coins/images...           2.19
4  https://coin-images.coingecko.com/coins/images...         648.20

      market_cap  market_cap_rank  fully_diluted_valuation  total_volume  \
0  2138536170956                1            2138536170956  1.316846e+10
1   293361142610                2             293361142610  6.796291e+09
2   157599316836                3             157599316836  2.366038e+10
3   129227879446                4             218979034329  1.084873e+09
4    94557838518                5              94557838518  3.256395e+08

    high_24h  ...  total_supply    max_supply        ath  \
0  108449.00  ...  1.988522e+07  2.100000e+07  111814.00
1    2462.04  ...  1.207178e+08           NaN    4878.26
2       1.00  ...  1.575769e+11           NaN       1.32
3       2.20  ...  9.998599e+10  1.000000e+11       3.40
4     651.05  ...  1.458876e+08  2.000000e+08     788.84

   ath_change_percentage                  ath_date        atl  \
0               -3.88374  2025-05-22T18:41:28.492Z  67.810000
1              -50.25837  2021-11-10T14:24:19.604Z   0.432979
2              -24.40790  2018-07-24T00:00:00.000Z   0.572521
3              -35.69863  2018-01-07T00:00:00.000Z   0.002686
4              -17.87668  2024-12-04T10:35:25.220Z   0.039818

   atl_change_percentage                  atl_date  \
0           1.583916e+05  2013-07-06T00:00:00.000Z
1           5.603260e+05  2015-10-20T00:00:00.000Z
2           7.469324e+01  2015-03-02T00:00:00.000Z
3           8.125077e+04  2014-05-22T00:00:00.000Z
4           1.626876e+06  2017-10-19T00:00:00.000Z

                                                 roi              last_updated
0                                               None  2025-06-29T21:30:56.515Z
1  {'times': 29.22993538613147, 'currency': 'btc'...  2025-06-29T21:30:58.988Z
2                                               None  2025-06-29T21:30:53.507Z
3                                               None  2025-06-29T21:31:00.395Z
4                                               None  2025-06-29T21:30:56.869Z

[5 rows x 26 columns]

In [17]:
df.to_csv("files/coins.csv", index  = False)

In [18]:
df = pd.read_csv("files/coins.csv")
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,107564.00,2138536170956,1,2138536170956,1.316846e+10,108449.00,...,1.988522e+07,2.100000e+07,111814.00,-3.88374,2025-05-22T18:41:28.492Z,67.810000,1.583916e+05,2013-07-06T00:00:00.000Z,NaN,2025-06-29T21:30:56.515Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,2431.64,293361142610,2,293361142610,6.796291e+09,2462.04,...,1.207178e+08,NaN,4878.26,-50.25837,2021-11-10T14:24:19.604Z,0.432979,5.603260e+05,2015-10-20T00:00:00.000Z,"{'times': 29.22993538613147, 'currency': 'btc'...",2025-06-29T21:30:58.988Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,1.00,157599316836,3,157599316836,2.366038e+10,1.00,...,1.575769e+11,NaN,1.32,-24.40790,2018-07-24T00:00:00.000Z,0.572521,7.469324e+01,2015-03-02T00:00:00.000Z,NaN,2025-06-29T21:30:53.507Z
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,2.19,129227879446,4,218979034329,1.084873e+09,2.20,...,9.998599e+10,1.000000e+11,3.40,-35.69863,2018-01-07T00:00:00.000Z,0.002686,8.125077e+04,2014-05-22T00:00:00.000Z,NaN,2025-06-29T21:31:00.395Z
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,648.20,94557838518,5,94557838518,3.256395e+08,651.05,...,1.458876e+08,2.000000e+08,788.84,-17.87668,2024-12-04T10:35:25.220Z,0.039818,1.626876e+06,2017-10-19T00:00:00.000Z,NaN,2025-06-29T21:30:56.869Z

In [19]:
stocks = df["name"]
print(stocks[:5])
print(type(stocks))
df.to_

0     Bitcoin
1    Ethereum
2      Tether
3         XRP
4         BNB
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [20]:
stocks = df[["name", "current_price"]]
print(stocks[:5])
print(type(stocks))

       name  current_price
0   Bitcoin      107564.00
1  Ethereum        2431.64
2    Tether           1.00
3       XRP           2.19
4       BNB         648.20
<class 'pandas.core.frame.DataFrame'>

In [21]:
stocks = df[["name", "current_price"]]
stocks = stocks.set_index("name")
stocks = stocks.squeeze()
print(stocks[:5])
print(type(stocks))

name
Bitcoin     107564.00
Ethereum      2431.64
Tether           1.00
XRP              2.19
BNB            648.20
Name: current_price, dtype: float64
<class 'pandas.core.series.Series'>

In [22]:
import sys

print(sys.getsizeof(stocks))

6803

In [23]:
stocks = stocks.astype(np.float32)
print(sys.getsizeof(stocks))

6403

In [24]:
series = df.squeeze()

# print(series[:5])
print(type(series))

<class 'pandas.core.frame.DataFrame'>